# The Basics of Time Series in Pandas

## Import modules

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
%matplotlib inline

## Create a Pandas dataframe

In [3]:
# generate some data
data = {'date': ['2014-05-01 18:47:09', '2014-05-02 18:34:05', '2014-06-02 03:47:05', '2014-06-09 15:39:05', '2014-06-15 17:23:05', '2014-06-16 18:56:23', '2014-06-16 20:47:19', '2014-06-16 21:47:03', '2014-06-17 18:45:09', '2014-06-20 17:47:05'], 
        'widgets_sold': [35, 20, 8, 12, 17, 19, 38, 25, 9, 41]}

# create dataframe
df = pd.DataFrame(data, columns=['date', 'widgets_sold'])

df

                  date  widgets_sold
0  2014-05-01 18:47:09            35
1  2014-05-02 18:34:05            20
2  2014-06-02 03:47:05             8
3  2014-06-09 15:39:05            12
4  2014-06-15 17:23:05            17
5  2014-06-16 18:56:23            19
6  2014-06-16 20:47:19            38
7  2014-06-16 21:47:03            25
8  2014-06-17 18:45:09             9
9  2014-06-20 17:47:05            41

## Transform the date column to datetime format

In [4]:
df['date'] = pd.to_datetime(df['date'])

## Set the date column as index

In [5]:
df = df.set_index(df.date)

df

                                   date  widgets_sold
date
2014-05-01 18:47:09 2014-05-01 18:47:09            35
2014-05-02 18:34:05 2014-05-02 18:34:05            20
2014-06-02 03:47:05 2014-06-02 03:47:05             8
2014-06-09 15:39:05 2014-06-09 15:39:05            12
2014-06-15 17:23:05 2014-06-15 17:23:05            17
2014-06-16 18:56:23 2014-06-16 18:56:23            19
2014-06-16 20:47:19 2014-06-16 20:47:19            38
2014-06-16 21:47:03 2014-06-16 21:47:03            25
2014-06-17 18:45:09 2014-06-17 18:45:09             9
2014-06-20 17:47:05 2014-06-20 17:47:05            41

## Delete the now-unnecessary date column

In [6]:
del df['date']

df

                     widgets_sold
date
2014-05-01 18:47:09            35
2014-05-02 18:34:05            20
2014-06-02 03:47:05             8
2014-06-09 15:39:05            12
2014-06-15 17:23:05            17
2014-06-16 18:56:23            19
2014-06-16 20:47:19            38
2014-06-16 21:47:03            25
2014-06-17 18:45:09             9
2014-06-20 17:47:05            41

## How many widgets were sold every day?

In [7]:
df = df.resample('D', how='sum')

df.head()

            widgets_sold
date
2014-05-01            35
2014-05-02            20
2014-05-03           NaN
2014-05-04           NaN
2014-05-05           NaN

## Replace non-numeric values in dataframe

In [8]:
df = df.fillna(value=0)

## Plot the total daily sales

In [9]:
sns.tsplot(df)

NameError: name 'sns' is not defined

## View all sales from June 2014

In [ ]:
df['2014-06']